<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="find.css">
    <title>旅めし</title>
  </head>
  <body>
    <header>
         <% breadcrumb :areas %>
      <div class="heading">
        <h1 class="title">旅めし</h1>
      </div>
      <div class="navbar">
        <ul class="nav-lists">
          <% if user_signed_in? %>
            <li><%= link_to current_user.nickname, "#", class: "nav-item" %></li> 
            <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "nav-item" %></li> 
          <% else %>
            <li><%= link_to 'ログイン', new_user_session_path, class: "nav-item" %></li>
            <li><%= link_to '新規登録', new_user_registration_path, class: "nav-item" %></li>
          <% end %>
        </ul>
      </div>
    </header>
   <div class="area">
        <h2>エリア</h2>
        <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <li class="item">
          <a href="<%= area_posts_path(6)%>">  
           <%= image_tag("america.jpg", class:"btn")%>
           <span>北米・中米</span>
         </a>
        </li>
        </div>
        <div class="col-sm-4">
          <li class="item">
          <a href="<%= area_posts_path(3)%>">  
           <%= image_tag("chaina.jpg", class:"btn")%>
           <span>中国</span>
         </a>
        </li>
        </div>
        <div class="col-sm-4">
          <li class="item">
          <a href="<%= area_posts_path(4)%>">  
           <%= image_tag("spain.jpg", class:"btn")%>
           <span>ヨーロッパ</span>
         </a> 
        </li>
        </div>
        <div class="col-sm-4">
          <li class="item">
          <a href="<%= area_posts_path(5)%>">  
           <%= image_tag("meatpie.jpg", class:"btn")%>
           <span>オセアニア</span>
         </a>
        </li>
        </div>
        <div class="col-sm-4">
          <li class="item">
          <a href="<%= area_posts_path(2)%>">  
           <%= image_tag("thai.jpg", class:"btn")%>
           <span>アジア</span>
         </a>
        </li>
        </div>
        <div class="col-sm-4">
          <li class="item">
          <a href="<%= area_posts_path(7)%>">  
           <%= image_tag("hawai.jpg", class:"btn")%>
           <span>ハワイ</span>
         </a>
        </li>
        </div>
        <div class="col-sm-4">
          <li class="item">
          <a href="<%= area_posts_path(8)%>">  
           <%= image_tag("mexican.jpg", class:"btn")%>
           <span>南米</span>
         </a>
        </li>
        </div>
        <div class="col-sm-4">
          <li class="item">
          <a href="<%= area_posts_path(9)%>">  
           <%= image_tag("kebab.jpg", class:"btn")%>
           <span>中東</span>
         </a>
        </li>
        </div>
        <div class="col-sm-4">
          <li class="item">
          <a href="<%= area_posts_path(10)%>">  
           <%= image_tag("kuskus.jpg", class:"btn")%>
           <span>アフリカ</span>
         </a>
          </li>
        </div>
    </div>
  </body>
</html>