<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="area.css">
    <title>旅めし</title>
  </head>
  <body>
      <header>
           <% breadcrumb :posts %>
        <div class="heading">
          <h1 class="title">旅めし</h1>
        </div>
        <div class="navbar">
          <ul class="nav-lists">
      <% if user_signed_in? %>
          <li><%= link_to current_user.nickname, "#", class: "nav-item" %></li> 
          <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "nav-item" %></li> 
      <% else %>
          <li><%= link_to 'ログイン', new_user_session_path, class: "nav-item" %></li>
          <li><%= link_to '新規登録', new_user_registration_path, class: "nav-item" %></li>
      <% end %>
          </ul>
        </div>
      </header>

      <div class='post-contents'>
      <h2 class='title'>オススメのお店</h2>

      <div class="subtitle" >
        最新旅めし情報
      </div>
      <ul class='post-lists'>
        <% @posts.each do |post| %>
        <li class='list'>
          <%= link_to area_post_path(@area.id,post.id) do %> 
          <div class='post-img-content'>
            <%= image_tag post.image, class: "post-img" %>

          </div>
          <div class='post-info'>
            <h4 class='post-name'>
              <%= post.meal_name %>
           </h4>
            <div class='item-price'>
              <span><%= post.country %><br><%= post.price.name %></span>
             </div>
          </div>
          <% end %> 
        </li>
        <% end %>
      </ul>
    </div>
      <%= link_to(new_area_post_path, class: 'post-btn') do %>
        <span class='post-btn-text'>投稿する</span>
        <%= image_tag 'phone.png' , size: '185x50' ,class: "post-btn-icon" %>
      <% end %>
  </body>
</html>