<div class="items-sell-contents"> 
  <div class="posts-sell-main">
      <h2 class="posts-sell-title">旅めし情報を入力</h2>
      <%= form_with model: [@area, @post], url: area_posts_path,local: true do |f| %>

      <%= render 'shared/error_messages', model: f.object %>

      <div class="img-upload">
        <div class="weight-bold-text">
          料理画像
          <span class="indispensable">必須</span>
        </div>
        <div class="click-upload">
          <p>
            クリックしてファイルをアップロード
          </p>
          <%= f.file_field :image, id:"post-image" %>
        </div>
      </div>
     
      <div class="new-posts">
        <div class="weight-bold-text">
          料理名
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :meal_name, class:"posts-text", id:"post-name", placeholder:"料理名（必須 )", maxlength:"40" %>
        <div class="posts-explain">
          <div class="weight-bold-text">
            旅めし情報
            <span class="indispensable">必須</span>
          </div>
          <%= f.text_area :text, class:"posts-text", id:"post-info", placeholder:"料理の説明（必須 1,000文字まで）（味、見た目、おすすめ理由など)" ,rows:"7" ,maxlength:"1000" %>
        </div>
      </div>
     
      <div class="posts-detail">
        <div class="weight-bold-text">お店情報</div>
        <div class="form">
        <div class="weight-bold-text">
          国
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :country, class:"posts-text", id:"country-name", placeholder:"国名（必須)", maxlength:"40" %>
        <div class="weight-bold-text">
          店名
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :restaurant_name, class:"posts-text", id:"restaurant-name", placeholder:"店名（必須)", maxlength:"40" %>


          <div class="weight-bold-text">
            ジャンル
            <span class="indispensable">必須</span>
          </div>
          <%= f.collection_select(:genre_id, Genre.all, :id, :name, {}, {class:"select-box", id:"post-category"}) %>
          <div class="weight-bold-text">
            価格帯
            <span class="indispensable">必須</span>
          </div>
          <%= f.collection_select(:price_id, Price.all, :id, :name, {}, {class:"select-box", id:"post-sales-status"}) %>
         <div class="weight-bold-text">
            ご利用人数
            <span class="indispensable">必須</span>
          </div>
          <%= f.collection_select(:person_number_id, PersonNumber.all, :id, :name, {}, {class:"select-box", id:"post-sales-status"}) %>
          <div class="weight-bold-text">
            ご利用時間帯
            <span class="indispensable">必須</span>
          </div>
          <%= f.collection_select(:time_period_id, TimePeriod.all, :id, :name, {}, {class:"select-box", id:"post-sales-status"}) %>
        <div class="weight-bold-text">
          住所
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :address, class:"posts-text", id:"address", placeholder:"住所（任意)", maxlength:"40" %>
        </div>
      </div>
      
      <div class="post-btn-contents">
        <%= f.submit "投稿する" ,class:"posts-btn" %>
        <%=link_to 'もどる', area_posts_path(@area.id), class:"back-btn" %>
      </div>
    </div>
    <% end %>

  
</div>


