<div class="post-show">
  <div class="post-box">
    <h2 class="name">
      <%= @post.meal_name %>
    </h2>
    <div class="post-img-content">
      <%= image_tag @post.image ,class:"post-box-img" %>
    </div>
    <div class="post-restaurant-box">
      <span class="post-country">
        <%= @post.country %>
      </span>
      <span class="post-meal_detail">
        <%= @post.price.name %>
      </span>
    </div>

    <% if user_signed_in? && current_user.id == @post.user_id%>

      <%= link_to "旅めし情報の編集", "#", method: :get, class: "post-red-btn" %>
      <p class="or-text">or</p>
      <%= link_to "削除", "#", method: :delete, class:"post-destroy" %>

    <% end %>
    <%= link_to "戻る",  posts_path,class:"post-red-btn"%>

    <div class="post-explain-box">
      <span><%= @post.text %></span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-post">店名</th>
          <td class="detail-value"><%= @post.restaurant_name %></td>
        </tr>
        <tr>
          <th class="detail-post">ジャンル</th>
          <td class="detail-value"><%= @post.genre.name %></td>
        </tr>
        <tr>
          <th class="detail-post">ご利用人数</th>
          <td class="detail-value"><%= @post.person_number.name %></td>
        </tr>
        <tr>
          <th class="detail-post">ご利用時間帯</th>
          <td class="detail-value"><%= @post.time_period.name %></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="comment-box">
    <form>
      <textarea class="comment-text"></textarea>
      <p class="comment-warn">
        相手のことを考え丁寧なコメントを心がけましょう。
        <br>
        不快な言葉遣いなどは利用制限や退会処分となることがあります。
      </p>
      <button type="submit" class="comment-btn">
        <%= image_tag "comment.png" ,class:"comment-flag-icon" ,width:"20",height:"25"%>
        <span>コメントする<span>
      </button>
    </form>
  </div>
</div>